@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400&display=swap');   
:root{
    --dark-blue:rgb(28, 34, 48);
    --teal:rgb(61, 176, 205);
    --white:white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: var(--white);
}
body{
    background-color: var(--dark-blue);
    color: var(--white);
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
.container{
    margin: 0 auto;
    width: 100%;    background: url('./starter/images/bg-curvy-desktop.svg')   ;
    background-size: cover;
    background-position: center center;


    max-width: 1440px;
}
.navbar{
    width: 100%;
    height: 8rem;
    display: flex;
    padding: 0 5rem;
    justify-content: space-between;
    align-items: center;


}
.navbar-logo{
    transition: all 0.4s ease;
    cursor: pointer;
    fill: white;
}
.navbar-logo:hover{
    fill: var(--teal);
}
.navbar-menu{
    display: flex;
    gap: 2rem;
    list-style: none;
}

.navbar-menu-item-link{
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 10px 15px;    
    border-radius: 10px 20px;
    width: 100%;
transition: all 0.4s ease;
}
.navbar-menu-item-link:hover{
    background-color: var(--teal);
}
.hero{
    margin-top: 4rem;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.hero-image{
    object-fit: contain;

    max-width:650px;

}
.hero-content{
    margin-top: 1rem;
    width: 100%;
    max-width: 600px;
    text-align: center;
}
.hero-title{
    margin-top: 10px;
    font-weight: 700;
}
.hero-text{
    margin-top: 1rem;
    font-size: 0.9rem;
    opacity: 0.9;
    font-weight: 600;
    line-height:24px;
}
.hero-btn{
    width: 200px;
    margin-top: 20px;
    height: 45px;
    cursor: pointer;
    border-radius: 20px;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--teal);
    transition: all 0.4s ease;
}
.hero-btn:hover{
    opacity: 0.7;
}
.services{
    padding-top: 10rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 10px;
    background: url('./starter/images/bg-curvy-desktop.svg')   ;
    background-position:center;
    background-size: cover;

}

.service{
    width: 100%;

    max-width: 350px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.service-title{
    margin-top: 10px;
    font-weight: 700;
    font-size: 1.2rem;
}
.service-text{
    margin-top: 10px;
    font-size: 0.8rem;
    opacity: 0.8;
    font-weight: 600;
}
.about{
    padding-top: 10rem;
    width: 100%;
    height: 50vh;
    background-color: rgb(24, 30, 42);
    display: flex;
    justify-content: center;
    gap: 20px;

    align-items: center;
}

.about-image{
    flex:0.4;
}
.about-content{
    flex:0.4;
    text-align: center;

}
.about-title{

    font-weight: 700;
    font-size: 2rem;
}
.about-text{
    font-weight: 600;
    margin-top: 20px;
    font-size: 0.8rem;
}
.about-link{
    display: inline-block;
    color: var(--teal);
    margin-top: 1rem    ;
    cursor: pointer;
    transition: all 0.4s ease;
}
.about-link:hover{
    opacity: 0.5;
}

.about-image{
    object-fit: contain;

    max-width:450px;
}
.reviews{
    padding-top: 15rem;
    margin-bottom: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
}
.review{
    padding: 2rem 1rem;
    flex: 0.25;
    min-width: 300px;
    background-color: rgb(33, 41, 60);
    transition: all 0.4s ease;
}
.review:hover{
    color: var(--teal);
    cursor: pointer;
    transform:scale(1.03);
}

.review-text{
    font-size: 0.9rem;
    opacity: 0.9;
    font-weight: 700;
}
.user{

    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}
.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding:1px;
    border:1px solid var(--teal);
}
.user-inf{
    margin-left: 10px;

}
.early-access{

    width:100%;
    display: flex;
    justify-content: center;
    height: 35vh;
}
.access-wrapper{
    margin-top:5rem ;
    z-index: 10;
    background-color: var(--dark-blue);

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width:800px;
    padding: 2rem;
    box-shadow: 0 0 4px 3px rgb(24, 30, 42);
}
.access-title{
    font-size: 1.8rem;
}
.access-text{
    margin-top: 20px;
    font-size: 0.8rem;
    max-width: 80%;
}
.access-form{
    margin-top: 20px;
    width: 90%;
display: flex;
    justify-content: space-around;
}
.access-inp{
    width: 65%;
    height: 50px;
    border-radius: 50px;
    border:none;
    font-weight: 600;
    padding-left: 2rem;
    font-size: 1.2rem;
    color: teal
;   
    outline: none;
}
.access-btn{
    width: 30%;
    background-color: var(--teal);
    border:none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    transition: all 0.4s ease;
    height: 50px;
    font-size: 1rem;
}
.access-btn:hover{
    opacity: 0.7;
}
.footer{
    width: 100%;
    height: 40vh;
    padding-bottom: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    padding-top: 10rem;
    background-color:rgb(12, 21, 36);
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}
.footer-child p{
    margin-top: 10px;
    font-size: 0.9rem;
    width: 100%;
    max-width: 400px;
}
.footer-menu{
    list-style: none;
}
.footer-menu-item{
    opacity: 0.7;
    cursor: pointer;
    margin-top: 5px;
}
.footer-menu-item:hover{
    opacity: 1;
}



#menu-show{
    width:50px;
    height: 50px;
    cursor: pointer;
    z-index: 30;
    display: none;
}
#menu-show  svg{
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all 0.4s ease;
    
}
#menu-show  svg:hover{
    color: var(--teal);
}


@media (max-width:950px) {
    .navbar{
        position: fixed;
        background-color: var(--dark-blue);
        height: 6rem;
        z-index: 30;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-menu.show{
        left: 0;
    }
    .navbar-menu{
        padding-top: 5rem;
        position: fixed;
        width: 100vw;
        height: 100vh;
        align-items: center;
        left: -100%;
        top:0;
        flex-direction: column;
        z-index: 20;
        background-color: var(--dark-blue);
        transition: all 0.4s ease;
    }
    .navbar-menu-item{
        width: 100%;
        max-width: 300px;
    }
    
    .navbar-menu-item-link{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width:400px !important;
    }
    .reviews{
        padding: 0;
        margin: 0;

    }
    .early-access{
        height: unset;

    }
    .access-form{
        flex-direction: column !important;
    }
    .access-btn{
        width: 100%  !important;

        margin-top: 10px;
        height: 45px !important;
    }
    .access-inp{
        width: 100% !important;
        height: 50px !important;
    }
    .services{
        grid-template-columns: 1fr !important;
        background: url('./starter/images/bg-curvy-mobile.svg')   ;
        


        text-align: left;
    }
    .container{
     background: url('./starter/images/bg-curvy-mobile.svg')   ;
    }
    .about{
        padding-top: 1rem;
        margin-top: 1rem;
        flex-direction: column;
        margin-bottom:2rem;
        height: unset;

    }
    .about-image{
        width: 100%;
    }
    .about-content{
        width: 100%;
    }
    .hero-image{
        width: 100% !important;
        max-width: 600px;




    }
    .hero{
        margin: 0;
        padding:0;
        padding-top: 6rem;
        height: unset;

    }
    .services{
        background-image: unset   ;
        margin: 0;
        padding:0;
        height: unset;

    }
    .footer{
        display: flex;
        flex-direction: column;
        padding-left: 2rem;
        align-items: flex-start;
        gap: 10px;
        height: unset;
        padding-top: 2rem;
    }

    #menu-show{
        display: block;
    }
}